/* src/app/styles/global.css */

/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  /* background-color: #f2f2f2; */
  /* background-image: url("/1.jpg"); */
}

.mainHeader {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  font-family: 'Georgia', serif;
}

ul {
  font-family: 'Georgia', serif;
}


/* .mainSubheader {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

/* Header Styles */

.fixed-content {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  /* transition: opacity 0.5s ease; */
}

.fade-on-scroll {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.5s;
}

.scrolled {
  opacity: 0;
  transform: translateY(-20px);
}


.fixed-content h1 {
  font-size: 4.5rem;
  color: #fff;
}

.fixed-content p {
  font-size: 1.55rem;
  color: #b5b2b2;
  padding-top: 10px;
}

/* Header Styles */
header {
  position: relative;
  height: 50vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  overflow: hidden; /* Ensures ::before doesn't extend beyond the header */
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.76);  */
  /* Adjust the alpha value for dimming effect */
  /* background: rgba(27, 6, 29, 0.76);  */
  background: rgba(11, 11, 11, 0.735);
  z-index: 1;
}

header h1, header p, .btn {
  position: relative;
  z-index: 2;
}

header h1 {
  font-size: 4.5rem; /* Increase font size */
}

/* .headerFont {
  font-family: 'Courier New', Courier, monospace;
} */


header p {
  font-size: 1.75rem; /* Increase font size */
}

.homepageHeader {
  /* background-image: url("/crystal-7428278_1280.jpg"); */
  /* background-image: url("/likes.png"); */
  background-image: url("/1.jpg");
  background-size: center;
  background-position: center;
  background-attachment: fixed; 
  height: 70vh; /* Fill the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepageHeader2 {
  /* background-image: url("/crystal-7428278_1280.jpg"); */
  /* background-image: url("/likes.png"); */
  background-image: url("/1.jpg");
  background-size: center;
  background-position: center;
  background-attachment: fixed; 
  height: 50vh; /* Fill the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;

}

@media (max-width: 768px) {
  .homepageHeader {
    background-size: contain;
    background-position: center;
    height: 47vh;
    padding: 20px;
    background-attachment: fixed;
  }

  .fixed-content h1 {
    font-size: 2rem;
  }

  .fixed-content p {
    font-size: 1rem;
  }

  .homepageHeader2 {
    background-size: cover; /* Cover for mobile */
    background-position: center;
    background-attachment: scroll; /* Disable fixed for mobile */
    height: 30vh;
    padding: 20px; /* Add padding if needed for better appearance */
  } 


  .display-4 {
    font-size: 2rem; /* Adjust the font size for smaller screens */

  }

  .lead {
    font-size: 1rem; /* Adjust the font size for smaller screens */
  }

  .btn-equal {
    min-width: 100px; /* Adjust the minimum width for smaller screens */
    min-height: 30px; /* Adjust the minimum height for smaller screens */
    font-size: 0.5rem; /* Adjust the font size for smaller screens */
    margin-bottom: 10px; /* Adjust margin for smaller screens */
  }

  .btn-purple {
    width: 30px; /* Adjust width for smaller screens */
    height: 30px; /* Adjust height for smaller screens */
    padding: 3px; /* Adjust padding for smaller screens */
  }

  .icon-svg {
    width: 16px; /* Adjust icon size for smaller screens */
    height: 16px; /* Adjust icon size for smaller screens */
  }

  .fixed-content {
    position: fixed;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    /* transition: opacity 0.5s ease; */
    width: 90%; /* Increase width to span almost edge to edge */
    padding: 0 10px; /* Add padding for better appearance */
  }
  
  .fade-on-scroll {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .scrolled {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  
  .fixed-content h1 {
    font-size: 2.8rem;
color: #c5c3c3;
  }
  
  .fixed-content p {
    padding-top: 5px;
    font-size: 1.1rem;
    color: #b5b2b2;
  }
}


/* Button Styles */
.btn {
  font-size: 1.25rem;
}

.btn-equal {
  min-width: 100%; /* Make buttons full width on mobile */
  margin-bottom: 35px; /* Increase space between buttons */
}

.btn-white:hover {
  background-color: rgba(247, 245, 245, 0.71);
}

.btn-outline-light {
  color: rgba(255, 255, 255, 0.834);
  border-color: rgba(247, 245, 245, 0.71);
  background: none;
}

.btn-equal {
  min-width: 190px; /* Set a minimum width */
  min-height: 50px;
  padding: 10px; /* Ensure padding is consistent */
}

.btn-purple {
  /* background-color: rgba(76, 35, 163, 0.576); */
  /* background-color: rgba(50, 49, 51, 0.576); */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 10px; /* Adjust border-radius if needed */
}

.btn-purple:hover {
  /* background-color: #5D3587; */
  background-color: #f9f8fa9a;
}

.icon-svg {
  width: 44px;
  height: 44px;
  fill: currentColor; /* Ensures the SVG uses the current text color */
}


.button-group {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust the gap between buttons */
}

/* Image Hover Styles */
.image-hover-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  position: relative;
  width: 100%;
  height: auto; /* Adjust height to auto for proper display */
}

.default-image,
.hover-image {
  position: absolute;
  top: 0;
  left: 10;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}

.hover-image {
  opacity: 0;
}

.image-hover-container:hover .default-image {
  opacity: 0;
}

.image-hover-container:hover .hover-image {
  opacity: 1;
}

@media (max-width: 768px) {
  .hover-image {
    display: none; /* Hide hover image on mobile */
    opacity: 1; /* Ensure hover image is fully opaque */
    position: static; /* Remove absolute positioning on mobile */
  }

  .image-hover-container:hover .default-image {
    opacity: 1; /* Disable hover effect for default image */
  }

  .image-hover-container:hover .hover-image {
    opacity: 1; /* Disable hover effect for hover image */
  }
}

/* Section Styles */
section {
  /* background-color: white; */
/* background-color: #f2f2f2; */
  /* padding: 3rem 1rem; */
  border-radius: 45px;
}

/* .container {
  background-color: #f2f2f2;
  padding: 3rem 1rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

/* Centered Image Styles */
.centered-image {
  max-width: 100px; /* Adjust the size as needed */
  max-height: 100px; /* Adjust the size as needed */
  border-radius: 50%; /* Make the image round */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-image {
  max-width: 100px; /* Adjust the size as needed */
  max-height: 100px; /* Adjust the size as needed */
}

/* Misc Styles */
.top {
  margin-bottom: 2rem; /* Add space below the header */
}

.purple-shadow {
  box-shadow: 0 4px 6px rgba(111,66,193); /* Adjust the shadow size and color as needed */
}

.custom-hover:hover {
  color: #fff; /* Adjust the hover text color */
}

.around {
  border-radius: 5px;
  border-color: white;
}

.img-fluid {
  max-width: 50%;
  height: auto;
}

.size {
  min-width: 450px; /* Set a minimum width */
  min-height: 50px;
}

.info {
  min-width: 450px; /* Set a minimum width */
  min-height: 150px;
}

.content {
  min-width: 100px; /* Set a minimum width */
  min-height: 50px;
}

.size2 {
  min-width: 450px; /* Set a minimum width */
  min-height: 10px;
}

.fontSize {
  font-size: small;
}

/* Back to Top Button Styles */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 50px;
  background-color:rgba(6, 6, 6, 0.496);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

#back-to-top:hover {
  background-color: #272626;
}

/* Home Button Styles */
#home-button {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1000; /* Ensure it stays on top of other elements */
}

@media (max-width: 768px) {
  #home-button {
    top: 10px; /* Adjust top position for smaller screens */
    left: 10px; /* Adjust left position for smaller screens */
  }

  .title {
    padding-top: 20px; /* Ensure there's enough space between the title and the button */
  }
}

/* Link Card Styles */
.link-card {
  width: 100%;
  max-width: 200px; /* You can adjust this value */
  /* font-size: 17px; */
}

@media (max-width: 768px) {
  .link-card {
    max-width: 150px; /* Shrink the cards on smaller screens */
  }
}

@media (max-width: 576px) {
  .link-card {
    max-width: 150px; /* Further shrink the cards on extra small screens */
  }
}

/* Lead Text Styles */
.lead-responsive {
  font-size: 1.00rem; /* Default size */
}

@media (max-width: 768px) {
  .lead-responsive {
    font-size: 1rem; /* Adjusted for tablets */
  }
}

@media (max-width: 576px) {
  .lead-responsive {
    font-size: 0.875rem; /* Adjusted for mobile devices */
  }
}

/* Info Section Styles */
@media (max-width: 768px) {
  .info {
    min-width: 300px;
    max-width: 400px;
  }
}

@media (max-width: 576px) {
  .info {
    min-width: 300px;
    max-width: 400px;
  }
}

/* Equal Size Styles */
.equal-size {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.equal-size .mb-3 {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Small Image Styles */
.small-img {
  max-width: 25%; /* Adjust the width percentage as needed */
  height: auto;
}

@media (max-width: 768px) {
  .small-img {
    max-width: 20%; /* Adjust the width percentage as needed */
    height: auto;
  }
}

@media (max-width: 576px) {
  .small-img {
    max-width: 15%; /* Adjust the width percentage as needed */
    height: auto;
  }
}

/* Modal Styles */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 500vw;
  height: 500vh;
  background-color: #000;
  opacity: 0.5;
}

/* Responsive Video Styles */
.responsive-video {
  width: auto;
  height: 450px;
  max-width: 640px; /* Adjust the max-width as needed */
}

@media (max-width: 768px) {
  .responsive-video {
    max-width: 320px; /* Adjust the max-width for smaller screens as needed */
  }
}

/* Skill Icon Styles */
.skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skill-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: opacity 0.3s;
  background-color: white;
  border-radius: 5px;
}

.skill-icon img {
  width: 100%;
  height: auto;
  max-width: 100px; /* Default size */
}

.skill-icon2 img {
  width: 100%;
  height: auto;
  max-width: 100px; /* Default size */
}

.skill-icon:hover img {
  opacity: 0.5;
}

.skill-icon .tooltip {
  visibility: hidden;
  background-color: black;
  color: #F8F9FA;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 105%; /* Position above the icon */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.skill-icon .tooltip::after {
  content: "";
  position: absolute;
  top: 100%; /* Arrow points down */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.skill-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  .skill-icon img {
    max-width: 80px; /* Smaller size for smaller screens */
  }

  .tooltip {
    font-size: 0.875rem; /* Smaller font size for smaller screens */
  }
}

@media (max-width: 576px) {
  .skill-icon img {
    max-width: 60px; /* Even smaller size for very small screens */
  }

  .tooltip {
    font-size: 0.75rem; /* Even smaller font size for very small screens */
  }
}

/* Add this to your global CSS */
/* This movings the heading up slowly */
/* @keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(170px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

.animated {
  animation: fadeInUp 3s ease-out;
}

.btn:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.image-hover-container:hover img {
  /* transform: scale(1.05); */
  transition: transform 0.1s ease;
}

/* Floating Container Styles */
/* @media (min-width: 768px) {
  .floating-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 2rem 0;
    transition: transform 0.3s ease;
  }

  .floating-container:hover {
    transform: translateY(-10px);
  }
} */

/* Certificates */

/* Style the Image Used to Trigger the Modal */
.certificate-icon {
  transition: 0.3s;
  cursor: pointer;
  width: 100%; /* Make icon larger */
  max-width: 300px; /* Increase size for readability */
  max-height: 300px; /* Increase size for readability */
}

@media (max-width: 768px) {

  .certificate-icon {
    transition: 0.3s;
    cursor: pointer;
    width: 100%; /* Make icon larger */
    max-width: 250px; /* Increase size for readability */
    max-height: 300px; /* Increase size for readability */
  }
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

/* Show the modal when an image is selected */
.modal.show {
  display: block;
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  /* max-width: 80%; */
  max-height: 80%;
  width: auto;
  height: auto;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}



