/* src/app/styles/global.css */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  
  
  header {
    position: relative;
    height: 800px; /* Increase height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem; /* Add padding if needed */
    text-align: center;
    /* background-image: url("/crystal-7428278_1280.jpg"); */
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Ensures ::before doesn't extend beyond the header */
  }
  
  header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.76); /* Adjust the alpha value for dimming effect */
    z-index: 1;
  }
  
  header h1, header p, .btn {
    position: relative;
    z-index: 2;
  }
  
  header h1 {
    font-size: 4.5rem; /* Increase font size */
  }
  
  header p {
    font-size: 1.75rem; /* Increase font size */
  }
  
  .btn {
    font-size: 1.25rem;
  }

  .btn-purple {

    background-color: rgba(57, 36, 103, 0.576);
    color: white;
  }
  
  .btn-purple:hover {
    background-color: #5D3587; /* Bootstrap's purple */
  }

  .btn-white:hover {
    background-color: rgba(247, 245, 245, 0.71);
  }

  .btn-outline-light {
    color: rgba(255, 255, 255, 0.834);
    border-color: rgba(247, 245, 245, 0.71);
    background: none;
  }

  .btn-equal {
    min-width: 230px; /* Set a minimum width */
    min-height: 50px;
    padding: 10px 20px; /* Ensure padding is consistent */
  }
  
  section {
    background-color: white;
    padding: 3rem 1rem;
  }

  .container {
    background-color: white;
  }

  .centered-image {
    max-width: 100px; /* Adjust the size as needed */
    max-height: 100px; /* Adjust the size as needed */
    border-radius: 50%; /* Make the image round */
}
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .centered-image {
    max-width: 100px; /* Adjust the size as needed */
    max-height: 100px; /* Adjust the size as needed */
  }
  
  .top {
    margin-bottom: 2rem; /* Add space below the header */
  }

  .purple-shadow {
    box-shadow: 0 4px 6px rgba(111,66,193); /* Adjust the shadow size and color as needed */
  }
  
  .custom-hover:hover {
    color: #fff; /* Adjust the hover text color */
  }
  
  .skill-icon {
    position: relative;
    display: inline-block;
    transition: opacity 0.3s;
  }
  
  
  .skill-icon:hover img {
    opacity: 0.5;
  }
  
  .skill-icon .tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 105%; /* Position above the icon */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .skill-icon .tooltip::after {
    content: "";
    position: absolute;
    top: 100%; /* Arrow points down */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .skill-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  
  /* .center {
    justify-content: center;
    padding-top: 0.5rem;
  } */

  .around {
    border-radius: 5px;
    border-color: white;
  }


.img-fluid {
  max-width: 50%;
  height: auto;
}

  .size {
    min-width: 450px; /* Set a minimum width */
    min-height: 50px;
  }

  .info {
    min-width: 450px; /* Set a minimum width */
    min-height: 150px;
  }

  .content {
    min-width: 100px; /* Set a minimum width */
    min-height: 50px;
  }

  .size2 {
    min-width: 450px; /* Set a minimum width */
    min-height: 10px;
  }

  .fontSize{
    font-size: small;
  }

/* send to top css */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 50px;
  background-color: white;
  color: rgb(6, 6, 6);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

#back-to-top:hover {
  background-color: #5D3587;
}

#home-button {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1000; /* Ensure it stays on top of other elements */
}

.link-card {
  width: 100%;
  max-width: 200px; /* You can adjust this value */
}

@media (max-width: 768px) {
  .link-card {
    max-width: 150px; /* Shrink the cards on smaller screens */
  }
}

@media (max-width: 576px) {
  .link-card {
    max-width: 150px; /* Further shrink the cards on extra small screens */
  }
}

.lead-responsive {
  font-size: 1.00rem; /* Default size */
}

@media (max-width: 768px) {
  .lead-responsive {
    font-size: 1rem; /* Adjusted for tablets */
  }
}

@media (max-width: 576px) {
  .lead-responsive {
    font-size: 0.875rem; /* Adjusted for mobile devices */
  }
}

@media (max-width: 768px) {
  .info {
    min-width: 300px;
    max-width: 400px;
  }
}

@media (max-width: 576px) {
  .info {
    min-width: 300px;
    max-width: 400px;
  }
}

.equal-size {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.equal-size .mb-3 {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-img {
  max-width: 25%; /* Adjust the width percentage as needed */
  height: auto;
}

